## Lists, Dictionaries and Sets in Python

## Part 1

### Lists in Python

Sequences in Python are data structures that hold objects in an ordered array. Now, we will work on Lists, the most common sequence data types in Python.

In [2]:
#Example 
l1 = ['learning', "Python", 'is fun?', True]
print(l1)

['learning', 'Python', 'is fun?', True]

List can also be created by using list() function.

In [3]:
#Example
l2 = list(("learning", "for", "life", True))
print(l2)

['learning', 'for', 'life', True]

Adding to an existing list

### Question 1

Add 10 to list l1 given above.

[ **Hint: ** Use **append** ]

In [7]:
l1.append("10")
l1

['learning', 'Python', 'is fun?', True, '10', '10', '10', '10']

Removing from an existing list

### Question 2

Remove 10 from l1.

[ **Hint:** Use **remove**]

In [11]:
l1.remove("10")
l1

['learning', 'Python', 'is fun?', True]

Joining 2 lists

### Question 3

[ **Hint: ** Use **+** operator or **extend**]

In [25]:
l1 = ['learning', "Python", 'is fun?', True]
l2 = list(("learning", "for", "life", True))

In [12]:
l3=l1+l2
l3

['learning', 'Python', 'is fun?', True, 'learning', 'for', 'life', True]

Number List

### Question 4

Find Range and Mean of l3.

l3 = [2,4,6,8]

[ **Hint: ** Use **len(),sum(), min(), max()** functions ]
 
If you want to use standard functions like mean & range, you have to import them from numpy else you can calculate them the traditional way using formulas

In [21]:
import numpy as np
l3=[2,4,6,8]
np.mean(l3)

5.0

In [41]:
print (" sum ", sum(l3))
print ("length ", len(l3))
a = sum(l3)/len(l3)
print ("Mean", a)

 sum  33
length  8
Mean 4.125

In [30]:
for i in range(2,10,2):
    print(i)
max(l3)-min(l3)

2
4
6
8

6

Count the occurances of an element in a given list.

### Question 5
Append the given sequence of numbers to l3 (given above) 0,1,3,3,5,5,7,9. Count the occurences of 5 in l3.

[ **Hint: ** Use ** + operator to add multiple elements in the array and count() function to print the occurences**]

In [33]:
l3 = [0,1,3,3,5,5,7,9]
def count_occ(lt):
    count=0
    for letter in lt:
        if letter == 5:
            count += 1
    return count
count_occ(l3)

2

In [34]:
l3.count(5)

2

Sorting and Reversing a list

### Question 6
sort and print l3 in ascending and descending order sequentially (given above)

**(Hint: Use .sort() function)**

In [59]:
l3.sort()
l3

[0, 1, 3, 3, 5, 5, 7, 9]

In [60]:
l3.sort(reverse=True)
l3

[9, 7, 5, 5, 3, 3, 1, 0]

### Functions

**Example:**

**def** function_name(args)**:**
    
    function code goes here

### Question 7

Define a function with name **sum_3** which can take 3 numbers as input, and returns sum of them.

In [62]:
def sum_3(num1,num2,num3):
    return num1+num2+num3
sum_3(1,2,3)

6

### Lambda Functions

Anonymous functions or no name functions, which can be considered when you use a function only once.

**Example:**

f = lambda x, y : x + y

f(1,1)

2

### Question 8

Write the same above **sum_3** function using lambda.

In [63]:
sum_3=lambda x,y,z:x+y+z
sum_3(1,2,3)

6